<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cart">
	<insert id="insert">
		INSERT INTO CART(PRODUCT_ID,ID,AMOUNT)
			VALUES
			(#{product_id},#{id},#{amount})
	</insert>
	
	<select id="listCart" resultType="model.shop.dto.cart.CartDTO">
		select c.cart_id,m.name,p.product_name,m.id,p.product_id,p.price,c.amount,c.amount*p.price money from member m,cart c,product p 
		where m.id=c.id and p.product_id=c.product_id and m.id=#{id}
	</select>
	
	<delete id="del">
		delete  cart where cart_id=#{cart_id}
	</delete>
	
	<delete id="delall">
		delete  cart where id=#{id}
	</delete>
	
	<update id="modify">
		update cart set amount=#{amount} where cart_id=#{cart_id}
	</update>
</mapper>