<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="login_check" resultType="String">
		select name from admin where id=#{id} and pwd=#{pwd}
	</select>
	
	<select id="detail" resultType="model.shop.dto.product.ProductDTO">
		select * from product where product_id=#{product_id}
	</select>
	
	<update id="modify">
		update product 
		set product_name=#{product_name} , price=#{price} ,description=#{description},picture_url=#{picture_url}
		where product_id=#{product_id}
	</update>
	
	<select id="file_name" resultType="String">
		select picture_url from product where product_id=#{product_id}
	</select>
	
</mapper>