<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="Singup.css">
</head>
<body>
    <section class="login-section">
        <h1>LOGO DESIGN</h1>
        <form class="login-form" action="#">
            <div class="id">
                <input type="text" id="id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="pw">
                <input type="password" id="pw" autocomplete="off" required> 
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn">
                <input id="btn" type="submit" value="Sign">
            </div>
        </form>
    </section>
    <script src="Signup.js"></script>
</body>
</html>